@import "./reset.css";
@import "./style.css";
@import "./shared.css";
@import "./header.css";
@import "./block_our_features.css";
@import "./block_about_us.css";
@import "./slides/slide-projects.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');

.body{  
    font-family: Arial, Helvetica, sans-serif;
    /* background: url(../Home_Page2.jpg) no-repeat center top  / cover;
    background-size: 100% 5400px; 
    height: 5400px; */
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.section{
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 1140px;
    margin: 0 auto 0 auto;
}

.projects-location{
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: 23px; 
    justify-content: center;
    margin-top: 92px;

 }


.project-text{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.project-heading-location{
    display: grid;
    margin-left: 20px;
    margin-top: 40px;
    grid-template-columns: 345px auto ;
    grid-template-rows: 465px auto ;
}

.project-heading-first{
    display: grid;
    border: 1px solid black;
}

.project-heading-second{
    margin-left: 30px;
    border: 1px solid black;
}

.project-heading-second:hover{
    background: #fdae04;
}

.full-projects-button-location{
    margin-top: 25px;
    margin-bottom: 80px;
    display: grid;
    justify-content: center;
}

.full-projects-a{ 
    text-align: center;
    padding: 13px;
    background: #16d428;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px; 
    width: 130px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.slider-text{
    margin: 30px 0 0 25px;
    color: #343a3b;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.slider-text-project:hover{
    background: #fdae04;
}

.slider-text-second{
    margin: 13px 0 0 25px;
    line-height: 28px;
}

.project-heading-first:hover{
    background: #fdae04;
}

.project-heding-first{
    background: url(../images/content/image.png) no-repeat center top / cover;
    background-size: 100% 290px;
    height: 290px;
}

.bunking-buttom{
    left: 20px;
    top: 20px;
    position: relative;
    padding: 10px;
    border: 1px solid #fdae04;
    border-radius: 20px 20px 20px 20px; 
    text-transform: uppercase; 
    color: #ffffff;
}

.size-service{
    width: 100%;
    height: 550px;
    background: #fffaf3;
}


.content-services{
    background: #fffaf3;
}

.content-testimonials{
    height: 510px;
    background: #03b6e7;
}

.row-group-service{
    display: flex;
    flex-direction: row;
}

.business-conultation{
    padding-left: 60px;
    width: 365px;
}

.services-location {
    padding-top :100px; 
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}   

.icon-location{
    margin-bottom: 32px;
}

.icon-location-second{
    margin-bottom: 20px;
}

.text-header-service{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.text-header-service-second{
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.location-icon-size-testimonials{
    float: left;
    width: 30px;
}

.testimonials-location {
    padding-top :105px; 
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}  

.testimonials-text{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.images-group-testimonials{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}

.peson-foto{
    padding-right: 10px;
    height: 65px;
    display: block;
    opacity: 0.6;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.peson-foto:hover {
    opacity: 1;
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}

.testimonials-size-many-text{
    margin: 0 auto 0 auto;
    width: 870px;
}
.testimonials-many-text{
    text-align: center;
    color:#ffffff;
    margin-top: 25px;
    line-height: 30px;
}

.line{
    margin: 15px auto 0 auto;  
    width:20px; 
    color:#ffffff;
}

.location-text{
    margin-top: 20px; 

    color: #ffffff;
    text-align: center;
}

.testimonials-client{
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 10px;
}

