
@import "./reset.css";
@import "./shared.css";
@import "./header.css";
@import "./block_our_features.css";
@import "./block_about_us.css";
@import "./slides/slide-projects.css";

.body{  
    font-family: Arial, Helvetica, sans-serif;
    /* background: url(../Home_Page2.jpg) no-repeat center top  / cover;
    background-size: 100% 5400px; 
    height: 5400px; */
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.section{
    height: 100%;
    width: 100%;
}

.wrapper{
    width: 1140px;
    margin: 0 auto 0 auto;
}

.projects-location{
    display: grid;
    grid-template-columns: auto;  
    grid-template-rows: 23px; 
    justify-content: center;
    margin-top: 92px;

 }
.project-text{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.project-heading-location{
    display: grid;
    margin-left: 20px;
    margin-top: 40px;
    grid-template-columns: 345px auto ;
    grid-template-rows: 465px auto ;
}

.project-heading-first{
    display: grid;
    opacity: 0.5;
    border: 3px red solid;
    background: black;
}

.project-heading-second{
    margin-left: 30px;
    border: 1px solid black;
}

.full-projects-button-location{
    margin-top: 45px;
    display: grid;
    justify-content: center;
}

.full-projects-a{ 
    text-align: center;
    padding: 13px;
    background: #16d428;
    color: #ffffff;
    border-radius: 20px 20px 20px 20px; 
    width: 130px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.slider-text{
    margin: 30px 0 0 25px;
    color: #343a3b;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: uppercase;

}
.slider-text-second{
    margin: 13px 0 0 25px;
    line-height: 28px;
}

.project-heding-first{
    background: url(../images/content/image.png) no-repeat center top / cover;
    background-size: 100% 290px;
    height: 290px;
}

.project-heding-second{

}


.slider-text{
    margin: 30px 0 0 25px;
    color: #343a3b;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-transform: uppercase;

}
.slider-text-second{
    margin: 13px 0 0 25px;
    line-height: 28px;
}