.slide-projects {
    width: 740px;
    height: 290px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
}
.slide-projects  input {
    display: none;
}

.slide-projects  input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 1);

    cursor: pointer;

    z-index: 100;
    position: relative;

    margin-right: 2px;
    top: 80%;
    left: 40%;
    transition: background 0.8s ease-out 0s;
}

.slide-projects  input + label:hover {
    background: rgba(18, 165, 5, 0.8);
}

.slide-projects  input:checked + label {
     border: 2px solid rgba(18, 165, 5, 0.8); 
    background: rgba(18, 165, 5, 0.8);
}


.slide-projects  div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.slide-projects  div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.img-slider {
    width: 740px;
    height: 290px;
}

.slide-projects  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slide-projects  div  p {
    position: absolute;
    font-size:18px;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px #222;
}




